{% extends 'portfolio/base.html' %}
{% block content %}

  {% load static %}


<style>
  section {
    display: -webkit-flex;
    display: flex;

  }

  img{
    width: 70%;
    -webkit-flex: 3;
    -ms-flex: 3;
    flex:3;
    background-color: black;
    margin-left: 120px;
  }
  article{

    -webkit-flex: 3;
    -ms-flex: 3;
    flex:3;
    background-color: black;
  }

  </style>

<div class="container text-center">


  <section>
    <article>
    
      <p style="font-family:rubik; font-size:140%; text-align:left; color:white" >Hello, my name is</p>
      <h2 style="font-family:rubik; font-size:300%; text-align:left;color:white" ><b>Vu Nguyen-Duc<b></h2>

  </article>
    <img src="{% static 'portfolio/prom 2.png' %}"></img>
  </section>
</div>
{% endblock %}
